NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAm3Qg1BNJGnVrSyu3hAX5qiGXplvMhbmA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=ipo-list-29f6e.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=ipo-list-29f6e
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=ipo-list-29f6e.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=163545287634
NEXT_PUBLIC_FIREBASE_APP_ID=1:163545287634:web:42d5eee36308f80f67960b
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-SZCGET5FWX
